
@mixin aspect-ratio($rw,$rh){
  &:before {
    content: '';
    display: block;
    padding-top: _divide($rh,$rw) * 100%;
  }
}

@mixin asr-set-min-height($rw,$rh,$w){
  min-height: #{ _divide( ($w*$rh),$rw) };
}
@mixin asr-set-max-height($rw,$rh,$w){
  min-height: #{ _divide(($w*$rh),$rw) };
}
@mixin asr-set-max-width($rw,$rh,$h){
  max-width:  #{ _divide(($rw*$h),$rh) };
}