@use 'sass_functions/math_tools' as *;
@use 'sass_mixins/media-query' as mq;
@use 'sass_mixins/states' as st;
@use 'sass/fotn_styles' as cfs;


.foreground{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
  inset: 0;

  .dynamic__image{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 35%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
      margin-top: 0;
      display: none;
      text-align:center;
      font-size: 1rem;
      font-weight: bold;
      @include mq.breakpoint-up(sm){
        display: block;
      }
    }
    img{
      display: block;
      z-index: 1;
      height: auto;
      margin: auto auto 0;
      width: 100%;
      max-width: 80%;
      aspect-ratio: 9 / 26;
      @include mq.breakpoint-up(sm){
        max-width: 100%;
      }
    }
  }
}