@use 'sass_functions/math_tools' as *;
@use 'sass_mixins/media-query' as mq;
@use 'sass_mixins/states' as st;
@use 'sass/fotn_styles' as cfs;

##{$dymanic}--calculadora__ahorro{
  @include cfs.fotn_styles();
  &,& *{
    box-sizing: border-box;
    font: inherit;
    font-optical-sizing: auto;
    color: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  %flex_responsive_columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .#{$dymanic}__calculadora--container{
    color: #fff;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    @extend %flex_responsive_columns;
    %collumn{
      width: clamp(300px, 100%, 400px);
      padding: 1.5rem .75rem;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .col__interface{
      @extend %collumn;
      background: linear-gradient(to right, #139FCE 0%, #0E719D 100%);
      .note{
        font-size: 10px;
        text-align: center;
        order: 2;
      }
      .display{
        @include mq.breakpoint-up(sm){
          order: 1;
        }
      }
      .form{
        &___statusmsg{
          margin-bottom: 1.5rem;
        }
        &__status-icon{
          margin: 0 auto .75rem;
          max-width: 200px;
        }
        &__submit-message{
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
    .col__display{
      @extend %collumn;
      background-image: url('./assets/calculadora__background_land.svg');
      padding-top: 0;
      padding-bottom: 0;
      height: 40vh;
      background-position: center;
      background-size: cover;
      @include mq.breakpoint-up(sm){
        padding-bottom: 20px;
        order: 1;
        height: auto;
      }
      &::before{
        content: '';
        position: absolute;
        inset: auto 0 0 0;
        overflow: hidden;
        max-height: 21.25%;
        height: 100%;
        pointer-events: none;
        background-image: url('assets/grass.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
      }

      .chart__wrapper{
        overflow: hidden;
        height: 100%;
      }
    }
  }


}
